body{
    font-family: 'Mitr', sans-serif;
}
h1{
    color: rgb(51, 19, 49);
    text-align: center;
}
table{
    background-color: rgb(132, 17, 167);
    width: 25%;
    height: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
tr{
    background-color: rgb(175, 234, 252);
}