body{
    font-family: 'Mitr', sans-serif;
    background-image: url("background.png");
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(11, 56, 94);
    border: 10px double rgb(40, 133, 187);
    padding: 25px;
    background: url(paper.gif);
    background-repeat: no-repeat;
    background-origin: content-box;
}
form{
    text-align: center;
}
footer{
    text-align: right;
}